#header {
    padding: 10px 0;
    justify-content: space-between;
}

#header-container {
    justify-content: space-between;
    padding-top: 200px;
    padding-left: 20px;
}

.logo-box {
    margin-left: 10px;

    .logo {
        // text-decoration: none;
        // text-align: center;

        color: black;
        font-family: sans-serif;

        .name {
            margin: 0px;
            font-size: 2em;
            text-decoration: none;
        }

        .school {
            font-size: 1.3em;
            text-decoration: none;
        }
    }
}

.nav-box {
    .nav {
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: #609ca4;

        .item {
            padding-top: 10px;
            margin-right: 15px;

            .link {
                text-transform: uppercase;
                color: inherit;
                font: 'Roboto', sans-serif;
                font-size: 1.3em;
                text-decoration: none;
            }
        }
    }
}