#container {
    height: 900px;
}

#code {
    font-size: 4vw;
    color: black;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    margin: 10px;
    border-radius: 5px;
}